1. Информационный критерий (AIC) — это показатель, который используется для сравнения соответствия различных моделей регрессии.
2. Информационный критерий (BIC)- это показатель, который используется для сравнения качества соответствия различных регрессионных моделей.

In [1]:
#Подключение библиотек
import numpy as np #для обработки массивов
import pandas as pd #для анализа данных

from sklearn.linear_model import LinearRegression
import statsmodels.api as sm #вычисление описательной стат и оценки и формирования стат моделей

In [2]:
PATH = "data.csv"
raw_df = pd.read_csv(PATH, encoding='windows-1252') #Для загрузки .csv файла с данными
df = raw_df.copy() #копируем файл

df.head() #возвращает записи из начала датафрейма

,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,sqft_above,sqft_basement,yr_built,yr_renovated,street,city,statezip,country
0,2014-05-02 00:00:00,313000.0,3.0,1.50,1340,7912,1.5,0,0,3,1340,0,1955,2005,18810 Densmore Ave N,Shoreline,WA 98133,USA
1,2014-05-02 00:00:00,2384000.0,5.0,2.50,3650,9050,2.0,0,4,5,3370,280,1921,0,709 W Blaine St,Seattle,WA 98119,USA
2,2014-05-02 00:00:00,342000.0,3.0,2.00,1930,11947,1.0,0,0,4,1930,0,1966,0,26206-26214 143rd Ave SE,Kent,WA 98042,USA
3,2014-05-02 00:00:00,420000.0,3.0,2.25,2000,8030,1.0,0,0,4,1000,1000,1963,0,857 170th Pl NE,Bellevue,WA 98008,USA
4,2014-05-02 00:00:00,550000.0,4.0,2.50,1940,10500,1.0,0,0,4,1140,800,1976,1992,9105 170th Ave NE,Redmond,WA 98052,USA

In [4]:
#Подбираем первую модель и вычисляем AIC
#переменная ответа
y = df['price']

#переменные предикторы
x = df[['bedrooms', 'sqft_living']]

#добавляем константу
x = sm.add_constant(x)

#подгонка регрессионной модели
model = sm.OLS(y, x).fit()

#просмотр АИК модели
print("AIC первой модели: ",model.aic)

AIC первой модели:  133920.7510897442

In [5]:
y = df['price']

#переменные предикторы
x = df[['bathrooms', 'condition']]

#добавляем константу
x = sm.add_constant(x)

#подгонка регрессионной модели
model = sm.OLS(y, x).fit()

#просмотр АИК модели
print("AIC второй модели: ",model.aic)

AIC второй модели:  134340.96608336628

Поскольку первая модель имеет более низкое значение AIC, она является подходящей моделью

In [6]:
y = df['price']

x = df[['bedrooms', 'sqft_living']]

x = sm.add_constant(x)

model = sm.OLS(y, x).fit()

print("BIC первой модели",model.bic)

BIC первой модели 133940.05252449165

In [7]:
y = df['price']

x = df[['bathrooms', 'condition']]

x = sm.add_constant(x)

model = sm.OLS(y, x).fit()

print("BIC второй модели",model.bic)

BIC второй модели 134360.26751811372

Поскольку первая модель имеет более низкое значение BIC, она является подходящей моделью

Функция std() вычисляет среднеквадратичное (стандартное) отклонение значений элементов массива.

In [8]:
df.std() #для вычисления стандартного отклонения

C:\Users\Nata\AppData\Local\Temp/ipykernel_15764/3390915376.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  df.std()

price            563834.702547
bedrooms              0.908848
bathrooms             0.783781
sqft_living         963.206916
sqft_lot          35884.436145
floors                0.538288
waterfront            0.084404
view                  0.778405
condition             0.677230
sqft_above          862.168977
sqft_basement       464.137228
yr_built             29.731848
yr_renovated        979.414536
dtype: float64